{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="ngNCNSurvey" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Kwestionariusz{% endblock title %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-cookies.js"></script>
        <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js">
        </script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
        <script src="//rawgithub.com/GoDisco/ngFacebook/master/ngFacebook.js"></script>
    <script src="{% static 'fblogin/fblogin.js' %}"></script>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'questionnaire.css' %}"></script>
     <style type="text/css">
    {% block styleextra %}
        
    {% endblock %}
    </style>
    
    {% block headextra %}
    {% endblock %}
   <!-- <link href="{% static 'cover.css' %}" rel="stylesheet" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    <style >
        body { padding-bottom: 70px;
        background-color: #E5E5E5;}
        #contentcontainer { padding-top: 70px;
        background-color: #FFFFFF;}
    </style>
</head>

<body >
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Badanie Mediów</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Start</a></li>
            <li><a href="/about">O badaniu</a></li>
            <li><a href="/privacy">Polityka prywatności</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id = "contentcontainer" class="container">
        <div class="row">
            <div class="col-lg-10">
                    {% block body_block %}                    
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
        
        
    </div>
    
    <div id="fb-root">
    </div>

  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


</body>

</html>

