{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="ngNCNSurvey" lang="en">

<head>
    <meta charset="utf-8">
    
    <title>{% block title %}Kwestionariusz{% endblock title %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
        </script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js">
        </script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//rawgithub.com/GoDisco/ngFacebook/master/ngFacebook.js"></script>
    <script src="{% static 'fblogin/fblogin.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    
</head>

<body ng-controller="DemoCtrl">

                <div class="container">
                    <h4>
                        {$ welcomeMsg $}
                    </h4>
                    <button type="button" ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">
                        Login
                    </button> 
                </div>
            </div>
            <div id="fb-root">
            </div>
</body>

</html>
