{% extends 'base.html' %}

{% block title %} Badanie użytkowania mediów na Facebooku - O badaniu {% endblock %}
{% block body_block %}

<div class="inner cover">
            <h1 class="cover-heading">Informacje na temat badania</h1>
            <p class="lead"></p>
            
</div>
{% endblock %}
