{% extends 'base.html' %}

{% block title %} Badanie użytkowania mediów na Facebooku {% endblock %}
{% block body_block %}

 <div class="inner cover" ng-controller="DemoCtrl">
            <h1 class="cover-heading">Badanie użytkowania mediów na Facebooku</h1>
            <p class="lead">Zapraszamy do wzięcia udziału w ankiecie na temat użytkowania mediów w na Facebooku.</p>
            <p class="lead">Badanie przeprowadzane jest przez Uniwersytet Warszawski. Celem badania jest zrozumienie, w jaki sposób użytkownicy Facebooka
            posługują się mediami elektronicznymi i analogowymi.</p>
            <p class="lead">W ankiecie pytamy o zwyczaje dotyczące tego, z jakich źródeł informacji Pani/Pan korzysta, czy dzieli się Pani/Pan treściami (linkami, filmikami), itp.</p>
            <p class="lead">Dane zebrane w trakcie badania zostaną zanominizowane i będą przedstawiane jedynie w sposób zbiorczy. Dane te nie zostaną udostępnione osobom trzecim i
            będą wykorzystywane jedynie w celu analizy na potrzeby badania.</p>
            <p class="lead">Bardzo zależy nam na tym, aby uważnie przeczytał Pan/Pani instrukcje i wypełnił ankietę do końca.</p>
            <p class="lead"><strong>W imieniu Uniwersytetu Warszawskiego, z góry dziękujemy za Pana/Pani czas.</strong></p>
            
            <p class="lead">
              {$ welcomeMsg $}
               <button type="button" ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">
                Weź udział w badaniu
            </button>
               
            </p>
            <p>
                Zalogowano do aplikacji.
            </p>
</div> <!-- /demoCtrl controller -->
{% endblock %}
