{% extends 'base.html' %}

{% block title %} Badanie użytkowania mediów na Facebooku - prywatność {% endblock %}
{% block body_block %}

<div class="inner cover">
            <h1 class="lead">Nie ma czegoś takiego jak prywatność we współczesnym Internecie</h1>
            
</div>
{% endblock %}
