{% extends 'base.html' %}

{% block title %} Badanie użytkowania mediów na Facebooku {% endblock %}
{% block body_block %}

<div class="inner cover">
            <h1 class="cover-heading">Uprzejmie dziękujemy za czas poświęcony na udział w ankiecie!</h1>
            
</div>
{% endblock %}
